<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input label="Correo Electrónico" type="email" labelPlacement="floating" [(ngModel)]="userLogin.email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="userLogin.password"></ion-input>
      </ion-item>

      <ion-item slot="end">
        <ion-button (click)="register()">Registrar</ion-button>
        <ion-button (click)="login()">Ingresar</ion-button>
      </ion-item>
      
    </ion-list>
  </div>
  
</ion-content>
