<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Registrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input label="Nombres" labelPlacement="floating" [(ngModel)]="user.name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Apellidos" labelPlacement="floating" [(ngModel)]="user.last_name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Tipo Documento" labelPlacement="floating" [(ngModel)]="user.type_documentation"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Documento" labelPlacement="floating" [(ngModel)]="user.documentation"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Número Teléfono" type="tel" labelPlacement="floating" [(ngModel)]="user.phone_number"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Correo Electrónico" type="email" labelPlacement="floating" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item slot="end">
      <ion-button (click)="saveData()"> Guardar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
